$primary: #fe6835;
$primary-color: #fe6835;
$secondary: #fec93a;
$secondary-color: #fec93a;
$success: #00858e;
$success-color: #00858e;
$dark: #8997b4;
$dark-color: #8997b4;

.tag-cloud-tag {
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    border-bottom: 1px dashed;
  }
}
